@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
*{
  font-family: 'Inter', sans-serif;
}

.video {
  background-image: url('../images/checkbox.svg');
}

.hero-animation {
  animation: hero 0.7s ease-in-out;
}

@keyframes hero {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.subtitle-animation {
  animation: subtitle 1.4s ease-in-out;
}

.buttons-animation{
  animation: subtitle 1.8s ease-in-out;
}

@keyframes subtitle {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


.mobile-menu-animation{
  animation: mobile-menu 0.7s ease-in-out;
}

@keyframes mobile-menu {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
